{:remote-repo {:git-url "https://github.com/scicloj/scinoj-light-1"
               :branch  "main"}
 :quarto      {:format            {:html {:theme [:cosmo]}}
               :include-in-header {:text             "<meta property=\"og:image\" content=\"notebooks/images/Noj.png\"/>
<meta property=\"og:title\" content=\"SciNoj Light 1\"/>
<meta property=\"og:description\" content=\"A lightweight Clojure conference of data analysis stories\"/>
"}
               :number-depth 0
               :toc-expand 4}
 :base-target-path "temp"}

