{:people {:adham-omran
          {:full-name "Adham Omran",
           :images ["Adham.jpeg"]
           :bio
           "Backend developer and data analyst specializing in Clojure. I build the API for iData, an Iraqi platform enabling data-driven decision-making. Passionate about Clojure's data analysis ecosystem.\n\n A backend developer with a passion for crafting efficient, scalable systems and uncovering valuable insights through data analysis. With experience in Clojure, Datomic, R & SQL, I specialize in leveraging its functional programming paradigm to build robust architectures that solve complex challenges with elegance and precision. Beyond development, I bring a strong focus on data analysis, using advanced methodologies to process, interpret, and visualize data in ways that empower decision-making. My ability to bridge backend development with actionable insights sets me apart as a versatile and impactful contributor to any team or project.\n "},
          :aditya-athalye
          {:full-name "Aditya Athalye",
           :images ["Aditya.jpg"]
           :bio
           "Hi! Computationally, I identify as a Clojure-brained, mostly-functional, org-mode enjoying, grug-brained, generalist programmer. These days, I blog + think + work at evalapply.org. I've been Clojing since 2013, at work and/or as a hobbyist, and have lurked in the public Clojureverse for about the same time. I love teaching the language and ideas therein, and have had the chance to do so at various conferences (IN/Clojure, FunctionalConf, LambdaWorld), local meetups, and in-house for staff training. And I try to share / give back in the spirit of a self-directive called \"Learn Generously\". So, I am happy to make myself useful, here at SciCloj Light! May The Source be with us.\n "},
          
          :anton-lobach
          {:full-name "Anton Lobach"
           :images ["Anton.jpeg"]
           :bio "My background is in statistics and physics and I have about a decade of academic and industrial experience in the field of data science and machine learning."}
          :cvetomir-m-dimov
          {:full-name "Cvetomir M Dimov",
           :images ["Cvetomir.jpeg"]
           :bio
           "I am a researcher in Cognitive Psychology. In previous work I have studied human decision making, skill acquisition and memory. My recent focus has been the study of the complex processes behind collaboration. I have already developed a collaborative skill acquisition model. I am currently working on refining that model with speech capabilities.\n "},
          :daniel-slutsky
          {:full-name "Daniel Slutsky",
           :images ["Daniel.jpeg"]
           :bio
           "Daniel Slutsky is a mathematician and a data science consultant. His current main focus is at the Scicloj group. There, he is involved in community building and co-maintaining a few of the Scicloj tools and libraries.\n His approach towards open-source communities is drawn from his past experiences in various activist groups and his involvement in local yoga communities.\n "},
          :eoin-carney
          {:full-name "Eoin Carney",
           :images ["Eoin.jpg"]
           :bio
           "I work in government administration for my day job. I have a hobbyist interest in programming and data science, and have been learning Clojure for around 3 years. I also have a background in academic philosophy and completed a PhD thesis on the work of Paul Ricoeur in 2018.\n "},
          :harold
          {:full-name "Harold",
           :images ["Harold.jpeg"]
           :bio
           "Owner: TechAscent - Mathematician | Software Engineer | Cloud (AWS) | Clojure | JS | Data Science | AI/ML\n "},
          :heather-moore-farley
          {:full-name "Heather Moore-Farley",
           :images ["Heather_1.jpg"
                    "Heather_2.jpg"]
           :bio
           "Heather is a Clojurist in Oakland, California, who cares a lot about street safety and the quality of life in her community. When she isn't working, she is biking around the East Bay, drumming, or knitting.\n "},
          :jelena-losic
          {:full-name "Jelena Losic",
           :bio
           "My name is Jelena, and I am a PhD student at the Faculty of Mathematics, University of Belgrade, specializing in Complex Networks. Over the past 10 years, I have worked as a functional programmer, primarily using Scala, with some experience in Clojure as well. My research interests lie in exploring the intersections of mathematics and scientific disciplines, uncovering the boundaries where these fields converge and interact.\n "},
          :k-ram-narayan
          {:full-name "K Ram Narayan",
           :images ["Ram.jpg"]
           :bio
           "Software Engineer passionate about functional programming and building scalable, elegant backend systems.\n "},
          :kira-howe
          {:full-name "Kira Howe",
           :images ["Kira.png"]
           :bio
           "Kira’s been writing software for the past decade with a focus on data-intensive web apps and a particular interest in Clojure programming and data visualization. She loves open source development, fostering communities online and in-person, and learning new things. When she’s not at her desk, you can find Kira teaching yoga, playing violin, or running with her dog.\n "},
          :kiran-kulkarni
          {:full-name "Kiran Kulkarni",
           :images ["Kiran.jpg"]
           :bio
           "I'm Kiran Kulkarni—a data nerd who believes in making decisions with gut and validating with data. I began as a Linux Kernel developer, then built high-scale backend systems in Clojure and big data pipelines that processed TBs data daily in Python. I’m passionate about building high-quality products, high-performing teams, scalable architectures, and insightful data systems. Also, I love street food and traveling to explore street food.\n "},
          :lorelai-lyons
          {:full-name "Lorelai Lyons",
           :images ["Lor.jpg"]
           :bio
           "Lorelai is a technologist and artist exploring the intersection of neuroscience, programming, and ethics. With a background in music and philosophy, she brings a unique perspective to data science—blending curiosity, critical thinking, and creative expression.\n\n She's active in the Clojure community as a board member of Clojurists Together, a member of Clojure Camp, and an organizer with SciCloj. Lorelai is currently focused on developing accessible tooling for brain-computer interfaces, advocating for ethical neurotechnology, and making brain data more approachable for developers of all backgrounds.\n "},
          :naimish-mani-b
          {:full-name "Naimish Mani B",
           :images ["Naimish.jpeg"]
           :bio
           "Mechanical Engineering graduate with a strong interest in Computational Engineering. Experienced in Numerical Methods, Backend Development and Machine Learning. Passionate about climate science.\n "},
          :paula-gearon
          {:full-name "Paula Gearon",
           :images ["Paula.jpeg"]
           :bio
           "Paula Gearon is a Semantic Webstress and Clojure developer with a focusing on graph systems and technical architecture, and AI. Her background includes building infrastructure and low-level systems, and researching AI. Paula has served as a technical lead on both commercial and open-source projects, with experience in data storage, processing, and language internals. Her work extends to standards development, having been a lead editor for the SPARQL standard for RDF databases. An Australian native now based in Virginia, USA, she balances her professional life with study, triathlons, cooking, and family time.\n "},
          :siyoung-byun
          {:full-name "Siyoung Byun",
           :images ["Siyoung.jpg"]
           :bio
           "Siyoung Byun is currently a freelance fullstack Clojure developer living in Seoul, South Korea. She studied Astrophysics for her undergrad in Canada,  where she first got into programming and data analysis while running simulations of dying stars crashing into each other. Ever since she was introduced to Clojure at a previous employer in 2018, it quickly became her favorite programming language and her passion. \n Beyond software development and data analysis, she likes to hike, bike, knit, sew and snuggle with her cat in her free time.\n "}
          :siavash-mohammady
          {:full-name "siavash mohammady"
           :images ["siavash.png"]
           :bio
           "Software developer with 8 years of Clojure experience"}}
 :speakers [:siyoung-byun
            :eoin-carney
            :cvetomir-m-dimov
            :paula-gearon
            :harold
            :kira-howe
            :julius-kibunjia
            :anton-lobach
            :jelena-losic
            :lorelai-lyons
            :naimish-mani-b
            :siavash-mohammady
            :heather-moore-farley
            :k-ram-narayan
            :daniel-slutsky]
 :hosts [:aditya-athalye
         :kiran-kulkarni
         :lorelai-lyons
         :adham-omran
         :daniel-slutsky]
 :sessions {"Hello"
            {:session-type :special
             :speakers #{:adham-omran :aditya-athalye :kiran-kulkarni :daniel-slutsky}
             :abstract "Settling in, introducing the conference and the team of hosts"
             :youtube-id "WekNEXea5Ps"}
            "Building a Data Science Ecosystem in Clojure: Lessons from the Tidyverse"
            {:session-type :special
             :speakers #{:kira-howe}
             :abstract
             "The Tidyverse transformed data science in R — not just by providing better tools, but by uniting them under a shared philosophy. Clojure, with its immutable data structures, functional paradigm, REPL-driven development, and a community that values simplicity and composability, is uniquely positioned to take these ideas even further. What we’re building isn’t just a set of libraries, it’s a new way of thinking about data.

 This talk is about how we get there, together. We’ll explore the principles that have guided the evolution of Scicloj, the challenges we’ve encountered, and the opportunities ahead. From our grassroots beginnings to a future of powerful, unified tools, this is a call to help shape the next chapter, and to imagine what data science and data engineering can become when they're built the Clojure way."}

            "macroexpand-1"
            {:session-type :special
             :abstract
             "This will be the first meeting in the new series of [macroexpand gatherings](https://scicloj.github.io/docs/community/groups/macroexpand/). 
 It will focus on initiating new projects of research/teaching/implementation/documentation/study group, that we will be running towards the next SciNoj conference later this year.

 The session will begin by a few brief experience reports and proposals by participants. Then we will expand the discussion till we converge to actionable steps we will follow up on."}

            "An intro to probability and statistics"
            {:session-type :background
             :speakers #{:daniel-slutsky}
             :abstract
             "This session will offer a brief intro to probability theory concepts and then use them to explain common statistical methods. It will repeat some content from our [May 10th workshop](https://scicloj.github.io/blog/data-analyis-with-clojure-free-workshop-may-10th-initial-survey/) so we can discuss it further at the conference.

"}

            "An intro to the Noj toolkit"
            {:session-type :background
             :speakers #{:daniel-slutsky}
             :abstract 
             "This session will offer a brief overview of the [Noj](https://scicloj.github.io/noj/) toolkit. It will repeat some content from our [May 10th workshop](https://scicloj.github.io/blog/data-analyis-with-clojure-free-workshop-may-10th-initial-survey/) and mostly offer an opportunity to ask questions."
             :youtube-id "OINVSndi9MI"}

            "Linear Foundations and Nonlinear Frontiers: A Journey Through Mathematical Methods"
            {:session-type :background
             :speakers #{:jelena-losic}
             :abstract
             "Our session isn’t just about listing techniques, it’s about the journey. We’ll explore how we move from the simplicity of linear models towards tackling the complex challenges real-world data throws at us. It’s about understanding our starting point and then, step by step, embracing the evolution that leads to breakthrough solutions."}

            "Noj deep dive"
            {:session-type :background
             :speakers [:harold :daniel-slutsky]
             :abstract
             "This session is intended to provide the audience with a technical background for the more concrete data analysis sessions in the conference.
 We will introduce a few of the [libraries](https://scicloj.github.io/noj/noj_book.underlying_libraries.html) behind the [Noj](https://scicloj.github.io/noj/) toolkit and practice using them to process, analyse, and visualize real-world data."}

            "RAGgedy Ann's Big Adventure"
            {:session-type :background
             :speakers #{:paula-gearon}
             :abstract
             "An introductory session for LLMs, Embeddings, and RAG systems."}

            "1D Viscous Fluid Flow Data Analysis Using Burgers’ Equation"
            {:session-type :data-analysis
             :speakers #{:siyoung-byun}
             :abstract
             "In this talk, I will share my early exploration into simulating and analyzing viscous fluid flow using the 1D Burgers’ equation as the beginning of my journey in computational fluid dynamics (CFD). I will walk through how I implemented the Burgers’ equation solver in 1-D in Clojure, referenced from the 12-step CFDPython series (https://github.com/barbagroup/CFDPython). Using data generated from my simulation, I will demonstrate how shock structures are smoothed by viscosity and how nonlinear interactions evolve over time. Along the way, I will reflect on the process of learning the essence of the Burgers’ equation, then implementing it in a functional programming paradigm, and close with a glimpse of future directions, including extending these ideas toward multidimensional simulations and more complex flow behavior."}

            "Brain Data in Clojure"
            {:session-type :data-analysis
             :speakers #{:lorelai-lyons}
             :abstract 
             "This is an introductory talk to the field of Brain-Computer Interfacing, and how Clojure can power intuitive, composable data workflows for real-world brain data. Drawing from my journey through BCI research, I’ll demonstrate how Clojure's unique strengths simplify signal processing, data visualization, and working with APIs such as the OpenBCI 'BrainFlow' API.

The session also invites a broader conversation about the ethical implications of brain-computer interfaces, and how developers can meaningfully contribute to this rapidly evolving field. This talk is for anyone curious about brain data, functional programming, or building new tools at the edge of human-computer interaction."}

            "Parliamentary Questions and Answers: Using noj to explore basic RAG techniques"
            {:session-type :data-analysis
             :speakers #{:eoin-carney}
             :abstract
             "As part of the Irish democratic process, members of parliament can submit questions to government departments and the answers are routinely published online. For this session, I will look at how this data could potentially be used to build a RAG model that can compile answers to typical questions asked of the government. I will also look at some basic ways we can try to test these approaches."}

            "Studying planning with a novel video game"
            {:session-type :data-analysis
             :speakers #{:cvetomir-m-dimov}
             :abstract
             "Tik Tik is a novel video game that we developed to study individual and collaborative planning. Here we use this video game to study individual planning. We developed multiple levels for this task and tested these levels in a series of studies. These studies allowed us to identify a set of levels that lie within the capabilities of the general population. Moreover, they allowed us to determine level parameters that determine level difficulty."}

            "The Impact of Lane Reductions: A Data-Driven Look at Oakland Streets"
            {:session-type :data-analysis
             :speakers #{:heather-moore-farley}
             :abstract "The City of Oakland has done work to implement traffic calming measures on many of their streets. Do these reduce crashes and injuries? This talk with analyze the impact of lane reductions and addition of bike lanes and bus loading islands by examining crash data before and after the redesign in of Telegraph Ave in 2021. Then, I’ll look at Grand Avenue, which has not received any traffic calming measures, to explore who is currently most affect by traffic violence and who could benefit from similar interventions."}

            "Tropical cyclone trajectory modelling"
            {:session-type :data-analysis
             :speakers [:naimish-mani-b :k-ram-narayan]
             :abstract "Tropical Cyclone's happen every year and claim hundreds of lives and billions in damages. Accurate cyclone track forecasting is crucial for disaster preparedness and mitigation. Timely predictions help authorities issue early warnings, evacuate affected areas, and minimize economic and human losses. This project focuses on forecasting cyclone tracks using historical data from the India Meteorological Department (IMD) and Wind Velocity Vectors calculated using EUMETSAT's METEOSAT-7 data."}
            "UK Electricity Demand Time Series Forecasting"
            {:session-type :data-analysis
             :speakers [:anton-lobach]
             :abstract "Time series forecasting is a critical task across many fields, from finance to weather prediction. This talk provides a high-level overview of how to approach time series forecasting using Clojure and its growing ecosystem of data science tools. I will walk through the key steps involved in building a forecasting model, using the 'taylor' dataset containing electricity demand data from the UK as a practical example, without delving into the code details.

The session will cover:

* Understanding the Data
* Feature Engineering
* Machine Learning Modeling
* Model Selection and Evaluation"}
            "Customer churn analysis"
            {:session-type :data-analysis
             :speakers [:siavash-mohammady]
             :abstract "Automatic customer churn data analysis by combination of LLM, logic programming & Noj"}}
 :schedule-drafts {"Draft #5"
                   [{:day :Fri :time "8:00-8:25" :title "Hello"}
                    {:day :Fri :time "8:30-9:20" :title "An intro to the Noj toolkit"}
                    {:day :Fri :time "9:30-10:50" :title "An intro to probability and statistics"}
                    {:day :Fri :time "11:00-11:50" :title "Customer churn analysis"}
                    {:day :Fri :time "12:00-13:20" :title "Linear Foundations and Nonlinear Frontiers: A Journey Through Mathematical Methods"}
                    {:day :Fri :time "13:30-14:50" :title "RAGgedy Ann's Big Adventure"}
                    {:day :Fri :time "15:00-15:50" :title "Parliamentary Questions and Answers: Using noj to explore basic RAG techniques"}
                    {:day :Fri :time "15:50-16:20" :title "RAGs discussion"}
                    {:day :Fri :time "16:30-16:50" :title "Open chat (hosted)"}
                    {:day :Fri :time "17:00-18:20" :title "Noj deep dive"}
                    {:day :Fri :time "19:00-19:50" :title "Brain Data in Clojure"}
                    {:day :Fri :time "20:00-20:50" :title "Open chat (hosted)"}
                    {:day :Sat :time "8:00-8:25" :title "Hello"}
                    {:day :Sat :time "8:30-8:50" :title "Open chat (hosted)"}
                    {:day :Sat :time "9:00-9:50" :title "1D Viscous Fluid Flow Data Analysis Using Burgers’ Equation"}
                    {:day :Sat :time "10:00-10:50" :title "UK Electricity Demand Time Series Forecasting"}
                    {:day :Sat :time "11:00-11:50" :title "Tropical cyclone trajectory modelling"}
                    {:day :Sat :time "12:00-12:50" :title "Studying planning with a novel video game"}
                    {:day :Sat :time "13:00-13:20" :title "Open chat (hosted)"}
                    {:day :Sat :time "13:30-14:50" :title "Building a Data Science Ecosystem in Clojure: Lessons from the Tidyverse"}
                    {:day :Sat :time "15:00-16:50" :title "macroexpand-1"}
                    {:day :Sat :time "17:00-17:50" :title "The Impact of Lane Reductions: A Data-Driven Look at Oakland Streets"}
                    {:day :Sat :time "18:00-18:20" :title "Conclusion"}
                    {:day :Sat :time "18:30-19:30" :title "Open chat (hosted)"}]}}
